In [7]:
import pandas as pd
import os
import sys

sys.path.append(os.path.abspath('..'))

In [14]:
df = pd.read_json('../project/yelp_data/yelp_academic_dataset_business.json', lines=True)

df.drop(['address','postal_code','latitude','longitude'], axis=1, inplace=True)

In [ ]:

df['hours'].mode()

In [18]:
df[df['attributes'].isnull()]

,business_id,name,city,state,stars,review_count,is_open,attributes,categories,hours
7,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,St. Petersburg,FL,3.5,5,1,None,"Synagogues, Religious Organizations","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
18,8wGISYjYkE2tSqn3cDMu8A,Nifty Car Rental,Kenner,LA,3.5,14,1,None,"Automotive, Car Rental, Hotels & Travel, Truck...","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
25,PSo_C1Sfa13JHjzVNW6ziQ,Indian Walk Veterinary Center,Newtown,PA,5.0,15,1,None,"Pet Services, Pet Groomers, Pets, Veterinarians","{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ..."
42,lwItZ1Ck3KtpCgG4CPFmpQ,Stomel Elliot Attorney-At-Law,Cherry Hill,NJ,5.0,5,1,None,"DUI Law, Professional Services, Lawyers, Crimi...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
51,REwfwz-_-CMQ7Np5UVi9Qg,Jennie Deckert,Carmel,IN,5.0,7,1,None,"Real Estate Agents, Home Services, Real Estate",None
...,...,...,...,...,...,...,...,...,...,...
150300,9RGR4_r4PJLTooNmscUE_A,Roger's Chevron Service,New Orleans,LA,4.0,5,1,None,"Automotive, Gas Stations",None
150302,DMYTGaunth3BMi7SmQEdvQ,PetSuites Greenwood,Greenwood,IN,4.0,17,1,None,"Pet Groomers, Pets, Pet Services, Pet Boarding...","{'Monday': '0:0-0:0', 'Tuesday': '6:30-20:0', ..."
150308,-a7VXX0-V9LgWMFrq90iNA,Delran Auto Body,Delran,NJ,3.5,5,1,None,"Body Shops, Automotive","{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ..."
150332,t_SGoRT5yt14OWr64TOulA,Sherwood Park Kwik Lube,Sherwood Park,AB,5.0,5,1,None,"Oil Change Stations, Automotive, Auto Repair",None
150337,x_2IrYgFiQn7GOTTgWRbAw,The Vac & Sew Center,Voorhees,NJ,4.0,5,0,None,"Appliances & Repair, Home & Garden, Appliances...","{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'..."

In [15]:
df[df['categories'].fillna('no').str.contains('Restaurant')]

,business_id,name,city,state,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,PA,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,TN,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,MO,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,TN,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,FL,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
...,...,...,...,...,...,...,...,...,...,...
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,Clifton Heights,PA,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
150327,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,Boise,ID,4.0,33,1,"{'WiFi': ''free'', 'RestaurantsGoodForGroups':...","Cafes, Juice Bars & Smoothies, Coffee & Tea, R...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-17:0', '..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,Philadelphia,PA,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
150339,2O2K6SXPWv56amqxCECd4w,The Plum Pit,Aston,DE,4.5,14,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Restaurants, Comfort Food, Food, Food Trucks, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
150340,hn9Toz3s-Ei3uZPt7esExA,West Side Kebab House,Edmonton,AB,4.5,18,0,"{'Ambience': '{'touristy': False, 'hipster': F...","Middle Eastern, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [24]:
df['state'].unique()

array(['CA', 'MO', 'AZ', 'PA', 'TN', 'FL', 'IN', 'LA', 'AB', 'NV', 'ID',
       'DE', 'IL', 'NJ', 'NC', 'CO', 'WA', 'HI', 'UT', 'TX', 'MT', 'MI',
       'SD', 'XMS', 'MA', 'VI', 'VT'], dtype=object)

In [26]:
df[df['categories'].isnull()]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
1917,SMYXOLPyM95JvZ-oqnsWUA,A A Berlin Glass & Mirror Co,60 W White Horse Pike,Berlin,NJ,08009,39.800416,-74.937181,3.0,5,1,None,None,None
2243,9ryVeDaaR-le3kiSayTGow,Pauline African Hair Braiding & Weaving,10204 Saint Charles Rck Rd,Saint Ann,MO,63074,38.726032,-90.379323,1.0,5,1,None,None,None
3304,xT3J-SP5g49g2FjQfLEQfg,Luxury Perfume,5135 Meadowood Mall Cir,Reno,NV,89502,39.475623,-119.783350,2.0,5,1,None,None,None
3324,_obl2-rphXvtzP3y_ekV1Q,Certegy Payment Services,11601 Roosevelt Blvd N,Saint Petersburg,FL,33716,27.877463,-82.653546,1.0,7,1,None,None,None
4640,mKxCNYEoKt6d_1rXmvRwww,Green Envy,3520 N Highway 94,Saint Charles,MO,63301,38.826533,-90.472224,1.5,5,1,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144328,szluot9mpdIAnUDGi27__w,Anchor Pools and Spas,810 49th St E,Palmetto,FL,34221,27.558259,-82.556160,2.5,5,1,None,None,None
145039,s54FBcv78I6QNjqznP9oKw,Superior Fence and Rail of Pinellas,1400 Starkey Rd,Largo,FL,33771,27.903442,-82.762799,1.5,10,1,None,None,None
146058,KYI2rHE3vTG_z9ddqhp58A,Tima Fashion African Hair Braiding,308 Reservoir St,Trenton,NJ,08618,40.230251,-74.769697,1.0,5,1,None,None,None
148225,DCvA43gLeetay_qttR9ABQ,Cham-Pagne Salon & Spa,315 Clements Bridge Rd,Barrington,NJ,08007,39.869476,-75.052961,1.0,5,1,None,None,None
149883,NoU_2sLsdgUxAf9S7vuCQg,Food Bazaar,"1500 Locust St, Ste 5",Philadelphia,PA,19102,39.948253,-75.166683,2.0,8,0,None,None,None